html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  

}

.error-message {
  background-color: #ffb2b2ed;
  border-radius: 2px;
  border: 1px solid red;
  display: none;
  padding: 0 0 0 5px;
}

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  min-height: 100%;
  font-family: "Roboto Condensed", sans-serif;
}

main.container {
  width: 450px;
  background-color: white;
  padding: 140px 20px; 
  margin: auto;
}

.new-tweet {
  display:none;
}