
header{
  border-radius: 4px 4px 0 0;
  width: 100%;
  margin: 0;
  height: 20%;
  background-color: #eee;
  line-height: 2.5;
}

#avatar {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 5px;
  padding: 5px;
  
}
p.user-name {
  float: left;
  margin: 0;
  font-weight: bold;
}

p.tweeter-handle {
  position: relative;
  float: right;
  margin: 0;
  padding: 0 10px;
  color: grey;
}

article {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 2em 0; 
  height: 200px;
  opacity: 0.8;
}

article:hover {
  opacity: 1.0;
}

p.tweet-log{
  float: left;
  position: relative;
  height: 56%;
  margin: 10px;
  padding: 10px;
  line-height: 1.1;

} 

hr.footer-hr {
  color: red;
  margin-top: 150px;
  margin-bottom:0;  
}


.footer-icons {
  border: none;
  float: right;
  padding: 0 10px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
}

.footer-icons:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 2s ease;
} 
.footer-icons:hover:before {
	width: 100%;
}


.logo {
  width: 20px;
  height: 20px;
  color: red;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0; 
  border-radius: 0 0 4px 4px;
  height: 16%;
}

.footer-text {
  margin: 0 10px;
  float:left;
}