
header{
  border-radius: 4px 4px 0 0;
  width: 100%;
  margin: 0;
  height: 20%;
  background-color: #eee;
  line-height: 2.5;
}

#avatar {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 5px;
  padding: 5px;
  
}
p.user-name {
  float: left;
  margin: 0;
  font-weight: bold;
}

p.tweeter-handle {
  position: relative;
  float: right;
  margin: 0;
  padding: 0 10px;
  color: grey;
}

article {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 2em 0; 
  height: 200px;
  opacity: 0.8;
}

article:hover {
  opacity: 1.0;
}

p.tweet-log{
  float: left;
  min-width: 100%;
  position: relative;
  height: 56%;
  margin: 10px;
} 

hr.footer-hr {
  color: red;
  margin-top: 125px;
  margin-bottom:0;  
}

  

.footer-icons {
  float: right;
  position: relative;

}
.logo {
  width: 20px;
  height: 20px;
}

footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0; 
  border-radius: 0 0 4px 4px;
  height: 16%;
}

.footer-text {
  margin: 0 10px;
}